#
#  Copyright 2005-2016 Red Hat, Inc.
#
#  Red Hat licenses this file to you under the Apache License, version
#  2.0 (the "License"); you may not use this file except in compliance
#  with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
#  implied.  See the License for the specific language governing
#  permissions and limitations under the License.
#

# This is your own customized etc/org.apache.karaf.features.cfg file


#
# Comma separated list of features repositories to register by default
#
featuresRepositories=\
        mvn:org.apache.karaf.assemblies.features/standard/${karaf.version}/xml/features,\
        mvn:org.apache.karaf.assemblies.features/spring/${karaf.version}/xml/features,\
        mvn:org.apache.karaf.assemblies.features/enterprise/${karaf.version}/xml/features,\
        mvn:org.apache.cxf.karaf/apache-cxf/${cxf.version}/xml/features,\
        mvn:org.apache.camel.karaf/apache-camel/${camel.version}/xml/features,\
        mvn:org.apache.activemq/activemq-karaf/${activemq.version}/xml/features-core,\
        mvn:io.fabric8/fabric8-karaf/${fabric8.version}/xml/features,\
        mvn:org.jboss.fuse/jboss-fuse/${jboss.fuse.version}/xml/features,\
        mvn:io.fabric8.patch/patch-features/${fabric8.version}/xml/features,\
        mvn:io.hawt/hawtio-karaf/${hawtio.version}/xml/features,\
        mvn:io.fabric8.support/support-features/${fabric8.version}/xml/features,\
        mvn:org.fusesource/camel-sap/${jboss.fuse.version}/xml/features

#
# Comma separated list of features to install at startup
#
# TODO: list the boot features for your own assembly below
featuresBoot=shell,admin,management,camel-blueprint,camel-jaxb

