################################################################################
#
#    Licensed to the Apache Software Foundation (ASF) under one or more
#    contributor license agreements.  See the NOTICE file distributed with
#    this work for additional information regarding copyright ownership.
#    The ASF licenses this file to You under the Apache License, Version 2.0
#    (the "License"); you may not use this file except in compliance with
#    the License.  You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#    Unless required by applicable law or agreed to in writing, software
#    distributed under the License is distributed on an "AS IS" BASIS,
#    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#    See the License for the specific language governing permissions and
#    limitations under the License.
#
################################################################################

#
# This configuration file defines the ACLs for various commands in the fabric subshell
# 
# For an explanation of the syntax of this file, see the file:
#   org.apache.karaf.command.acl.osgi.cfg
#
cluster-list = Monitor, Operator, Maintainer, Deployer, Auditor, Administrator, SuperUser
container-add-profile = Deployer, Auditor, Administrator, SuperUser
container-change-profile = Deployer, Auditor, Administrator, SuperUser
container-connect = Deployer, Auditor, Administrator, SuperUser
container-create-child = Deployer, Auditor, Administrator, SuperUser
container-default-jvm-options = Deployer, Auditor, Administrator, SuperUser
container-delete = Administrator, SuperUser
container-info = Monitor, Operator, Maintainer, Deployer, Auditor, Administrator, SuperUser
container-jmx-domains = Monitor, Operator, Maintainer, Deployer, Auditor, Administrator, SuperUser
container-list = Monitor, Operator, Maintainer, Deployer, Auditor, Administrator, SuperUser
container-remove-profile = Deployer, Auditor, Administrator, SuperUser
fabric:container-resolver-list = Monitor, Operator, Maintainer, Deployer, Auditor, Administrator, SuperUser
container-resolver-set = Deployer, Auditor, Administrator, SuperUser
container-rollback = Deployer, Auditor, Administrator, SuperUser
container-start = Deployer, Auditor, Administrator, SuperUser
container-stop = Deployer, Auditor, Administrator, SuperUser
container-upgrade = Deployer, Auditor, Administrator, SuperUser
create = Administrator, SuperUser
crypt-algorithm-get = Monitor, Operator, Maintainer, Deployer, Auditor, Administrator, SuperUser
crypt-algorithm-set = Deployer, Auditor, Administrator, SuperUser
crypt-password-get = Monitor, Operator, Maintainer, Deployer, Auditor, Administrator, SuperUser
crypt-password-set = Deployer, Auditor, Administrator, SuperUser
encrypt-message = Monitor, Operator, Maintainer, Deployer, Auditor, Administrator, SuperUser
ensemble-add = Administrator, SuperUser
ensemble-list = Monitor, Operator, Maintainer, Deployer, Auditor, Administrator, SuperUser
ensemble-password = Deployer, Auditor, Administrator, SuperUser
ensemble-remove = Administrator, SuperUser
export = Monitor, Operator, Maintainer, Deployer, Auditor, Administrator, SuperUser
import = Deployer, Auditor, Administrator, SuperUser
join = Deployer, Auditor, Administrator, SuperUser
mq-create = Deployer, Auditor, Administrator, SuperUser
patch-apply = Deployer, Auditor, Administrator, SuperUser
profile-change-parents = Deployer, Auditor, Administrator, SuperUser
profile-copy = Deployer, Auditor, Administrator, SuperUser
profile-create = Deployer, Auditor, Administrator, SuperUser
profile-delete = Deployer, Auditor, Administrator, SuperUser
profile-display = Monitor, Operator, Maintainer, Deployer, Auditor, Administrator, SuperUser
profile-edit  = Deployer, Auditor, Administrator, SuperUser
profile-list = Monitor, Operator, Maintainer, Deployer, Auditor, Administrator, SuperUser
profile-refresh = Deployer, Auditor, Administrator, SuperUser
profile-rename = Deployer, Auditor, Administrator, SuperUser
profile-scale = Deployer, Auditor, Administrator, SuperUser
require-profile-delete = Deployer, Auditor, Administrator, SuperUser
require-profile-list = Monitor, Operator, Maintainer, Deployer, Auditor, Administrator, SuperUser
require-profile-set = Deployer, Auditor, Administrator, SuperUser
status = Monitor, Operator, Maintainer, Deployer, Auditor, Administrator, SuperUser
version-create = Deployer, Auditor, Administrator, SuperUser
version-delete = Deployer, Auditor, Administrator, SuperUser
version-list = Monitor, Operator, Maintainer, Deployer, Auditor, Administrator, SuperUser
version-set-default = Deployer, Auditor, Administrator, SuperUser
wait-for-provisioning = Deployer, Auditor, Administrator, SuperUser
