################################################################################
#
#    Licensed to the Apache Software Foundation (ASF) under one or more
#    contributor license agreements.  See the NOTICE file distributed with
#    this work for additional information regarding copyright ownership.
#    The ASF licenses this file to You under the Apache License, Version 2.0
#    (the "License"); you may not use this file except in compliance with
#    the License.  You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#    Unless required by applicable law or agreed to in writing, software
#    distributed under the License is distributed on an "AS IS" BASIS,
#    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#    See the License for the specific language governing permissions and
#    limitations under the License.
#
################################################################################

#
# This configuration file defines the ACLs for commands in the shell subshell
# 
# For an explanation of the syntax of this file, see the file:
#   org.apache.karaf.command.acl.osgi.cfg
#
alias = Monitor, Operator, Maintainer, Deployer, Auditor, Administrator, SuperUser
cat = Monitor, Operator, Maintainer, Deployer, Auditor, Administrator, SuperUser
clear = Monitor, Operator, Maintainer, Deployer, Auditor, Administrator, SuperUser
date = Monitor, Operator, Maintainer, Deployer, Auditor, Administrator, SuperUser
each = Monitor, Operator, Maintainer, Deployer, Auditor, Administrator, SuperUser
echo = Monitor, Operator, Maintainer, Deployer, Auditor, Administrator, SuperUser
grep = Monitor, Operator, Maintainer, Deployer, Auditor, Administrator, SuperUser
head = Monitor, Operator, Maintainer, Deployer, Auditor, Administrator, SuperUser
history = Monitor, Operator, Maintainer, Deployer, Auditor, Administrator, SuperUser
if = Monitor, Operator, Maintainer, Deployer, Auditor, Administrator, SuperUser
logout = Monitor, Operator, Maintainer, Deployer, Auditor, Administrator, SuperUser
more = Monitor, Operator, Maintainer, Deployer, Auditor, Administrator, SuperUser
printf = Monitor, Operator, Maintainer, Deployer, Auditor, Administrator, SuperUser
sleep = Monitor, Operator, Maintainer, Deployer, Auditor, Administrator, SuperUser
sort = Monitor, Operator, Maintainer, Deployer, Auditor, Administrator, SuperUser
tac = Monitor, Operator, Maintainer, Deployer, Auditor, Administrator, SuperUser
tail = Monitor, Operator, Maintainer, Deployer, Auditor, Administrator, SuperUser
watch = Monitor, Operator, Maintainer, Deployer, Auditor, Administrator, SuperUser
wc = Monitor, Operator, Maintainer, Deployer, Auditor, Administrator, SuperUser
source = Administrator,SuperUser
edit = Administrator,SuperUser
exec = Administrator,SuperUser
new = Administrator,SuperUser
java = Administrator,SuperUser
