table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid navy;
}

th {
    background-color: #BCC6CC;
    text-align: left;
}

th, td {
    padding: 2px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
